/* The Modal (background) */
#modal-contact {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 10001; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition : all .6s;
}

/* Modal Content/Box */
#modal-content {
  animation: anim 3.5s 1;
  background-color: darkred;
  width: 40%;
  float: right;
  color: white;
  overflow: hidden;
  height: 100%;
  box-shadow: 10px 10px 10px 20px black;
  border-radius: 25px 0;

  #links {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    height: 70%;
    a img {
      width: 25%;
      border-radius: 10px;
      border: 1px solid white;
      background: black;
    }
    #linkedIn img {
      background-color: white;
    }
  }

  #title{
    font-size : 4vmin;
  }
  #title,
  #link {
    padding: 5%;
  }

  #close-modal {
    background-color: black;
    float: right;
    font-size: 3vmax;
    font-weight: bold;
    width: 20%;
    border-radius: 0 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.6s;
  }

  #close-modal:hover,
  #close-modal {
    cursor: pointer;
  }

  #close-modal:hover,
  #close-modal:focus {
    font-weight: 1000;
    background-color: rgba(black, 0.5);
    font-size: 4vmax;
  }

  #links a img:hover,
  #links a img:focus {
    -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
  }
}

@keyframes anim {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
}

@media only screen and (max-width : 768px ){
  #modal-contact {
    // display: block;
    #modal-content{
      box-shadow: 10px 10px 10px 20px black;
      width: 80%;
      height: 80%;
      float : none;
      margin : auto;
      border-radius: 25px;
      margin : auto;
      #title{
        font-size : 3vmax;
      }

      #links{
        height: 60%;
        justify-content: space-between;

        a img{
          width: 30%;
        }

      }

    }
  }
}