html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  min-height: 100vh;
  background-color: black;
}

.dont_allow_scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

body, button, a {
  font-family: 'Montserrat', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 2%;
  z-index: 1000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: black;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 40px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.5vmin;
  text-transform: uppercase;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.versatile {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 10000ms linear;
  transition: background-color 10000ms linear;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.versatile ul li a {
  color: #fff;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.puff {
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media only screen and (max-width: 768px) {
  header {
    top: auto;
    bottom: 0;
    background-color: darkred;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header a {
    font-size: 4vmax;
  }
  header a #text {
    display: none;
  }
}

#arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow {
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border-width 150ms ease-in-out;
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

/* The Modal (background) */
#modal-contact {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 10001;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-transition: all .6s;
  transition: all .6s;
}

/* Modal Content/Box */
#modal-content {
  -webkit-animation: anim 1s 1;
          animation: anim 1s 1;
  background-color: darkred;
  width: 40%;
  margin-left: auto;
  color: white;
  overflow: hidden;
  height: 100%;
  -webkit-box-shadow: 10px 10px 10px 20px black;
          box-shadow: 10px 10px 10px 20px black;
  border-radius: 25px 0;
}

#modal-content #links {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70%;
}

#modal-content #links a img {
  width: 25%;
  border-radius: 10px;
  border: 1px solid white;
  background: black;
}

#modal-content #links #linkedIn img {
  background-color: white;
}

#modal-content #title {
  font-size: 4vmin;
}

#modal-content #title,
#modal-content #link {
  padding: 5%;
}

#modal-content #close-modal {
  background-color: black;
  float: right;
  font-size: 3vmax;
  font-weight: bold;
  width: 20%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#modal-content #close-modal:hover,
#modal-content #close-modal {
  cursor: pointer;
}

#modal-content #close-modal:hover,
#modal-content #close-modal:focus {
  font-weight: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 4vmax;
}

#modal-content #links a img:hover,
#modal-content #links a img:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  #modal-contact #modal-content {
    -webkit-animation: anim .5s 1;
            animation: anim .5s 1;
    -webkit-box-shadow: 10px 10px 10px 20px black;
            box-shadow: 10px 10px 10px 20px black;
    width: 80%;
    height: 80%;
    float: none;
    margin: auto;
    border-radius: 25px;
    margin: auto;
  }
  #modal-contact #modal-content #title {
    font-size: 3vmax;
  }
  #modal-contact #modal-content #links {
    height: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #modal-contact #modal-content #links a img {
    width: 30%;
  }
}

#home {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home #left,
#home #right {
  height: 100vh;
  width: 100%;
}

#home #left {
  display: -ms-grid;
  display: grid;
  padding: 0 5%;
}

#home #left #left-inner {
  width: 100%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0;
}

#home #right {
  background-image: url("/assets/bg.png");
  background-size: cover;
}

#home #right #container {
  height: 100%;
  display: -ms-grid;
  display: grid;
}

#home #right #container #img-container {
  width: 80%;
  margin: auto;
}

#home #right #container #img-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#left-inner #title,
#left-inner #name {
  font-weight: 500;
  letter-spacing: 1vmin;
  text-align: center;
}

#left-inner #name {
  font-size: 5vmax;
}

#left-inner #title {
  font-size: 2.5vmax;
}

@media only screen and (max-width: 768px) {
  #home {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    width: 100%;
  }
  #home #left {
    height: 100%;
    width: 100%;
  }
  #home #left #left-inner {
    height: 25%;
  }
  #home #right {
    display: none;
  }
  #left-inner #name {
    font-size: 6vmax;
  }
  #left-inner #title {
    font-size: 3vmax;
  }
}

#about {
  width: 100%;
  height: 100vh;
  padding: 5%;
  background-color: darkred;
  display: -ms-grid;
  display: grid;
  grid-template: "title title"  "description hobbies" 1fr "description hobbies" 1fr "description moreB" 1fr / 1fr 1fr;
  gap: 5%;
}

#about #description, #about #hobbies, #about #arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #description {
  grid-area: description;
}

#about #hobbies {
  grid-area: hobbies;
}

#about #arrow-button {
  grid-area: moreB;
}

#about #arrow-button .arrow {
  border-color: white;
  border-bottom-width: 4px;
  border-right-width: 4px;
}

#about #arrow-button .arrow:hover {
  border-bottom-width: 8px;
  border-right-width: 8px;
}

#about #title {
  grid-area: title;
  font-size: 3vmax;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  height: 10%;
}

#about #title h2 {
  border-bottom: 1px solid white;
}

#about #description, #about #hobbies {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px white solid;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
  padding: 10% 5%;
  line-height: 1.5em;
  font-size: 2.2vmax;
  letter-spacing: .05rem;
}

@media only screen and (max-width: 768px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10% 5% 20% 5%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #about #title {
    justify-self: baseline;
  }
}

#projects {
  background-color: black;
  width: 100%;
  height: 100vh;
  padding: 2.5% 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects #title {
  border-bottom: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 3.5vmax;
}

#projects #grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects #grid #grid-element {
  background-color: rgba(182, 10, 10, 0.4);
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 2.5vmax;
  text-align: center;
  height: 40%;
  max-width: 20%;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#projects #grid #grid-element:hover,
#projects #grid #grid-element:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  background-color: #b60a0a;
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

#more-info {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

#more-info a {
  font-size: 3vmax;
  padding: 10px;
}

#more-info #final-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#more-info #final-contact #arrowAnim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#more-info #final-contact .arrow {
  width: 1vw;
  height: 1vw;
  border: 1vw solid;
  border-color: white transparent transparent white;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#more-info #final-contact .arrowSliding {
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

#more-info #final-contact .delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#more-info #final-contact .delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

#more-info #final-contact .delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-8vw);
            transform: translateX(-8vw);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-4vw);
            transform: translateX(-4vw);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(4vw);
            transform: translateX(4vw);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(8vw);
            transform: translateX(8vw);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-8vw);
            transform: translateX(-8vw);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateX(-4vw);
            transform: translateX(-4vw);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(4vw);
            transform: translateX(4vw);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(8vw);
            transform: translateX(8vw);
  }
}

#more-projects, #final-contact {
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 768px) {
  #projects {
    padding: 10% 5%;
  }
  #projects #grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    padding-bottom: 20%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5%;
  }
  #projects #grid #grid-element {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0;
    border-radius: 20px 10px;
    font-size: 3vmax;
    letter-spacing: .1em;
    background-color: #9b0404;
  }
  #projects #more-info a {
    font-size: 3vmax;
  }
}

#contact {
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */